window {
	margin: 0px;
	border: 1px solid #7A7478;
	background-color: #111111;
	border-radius: 5px;
	font-family: HackNerdFontMono;
	font-size: 16px;
	opacity: 0.95;
}

#input {
	margin: 5px;
	border: none;
	color: #d3c6ca;
	background-color: #222222;
}

#inner-box {
	margin: 5px;
	border: none;
	background-color: #111111;
}

#outer-box {
	margin: 5px;
	border: none;
	background-color: #111111;
}

#scroll {
	margin: 0px;
	border: none;
}

#text {
	margin: 5px;
	border: none;
	color: #d3c6ca;
}

#entry:selected {
	background-color: #222222;
}
